{% extends "base.html" %}
{% block title %}board{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
<table class="table table-hover table-striped" style="border: 1px solid;">
	<thead>
		<tr>
			<th>idx</th>
			<th>id</th>
			<th>title</th>
			<th style="width: 75%; text-align: center;">content</th>
		</tr>
	</thead>
    
	<tbody>
      {% for i in lists %}
        <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        </tr>
      {% endfor %}

	</tbody>
</table>
{% endblock %}